html, body{
     font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
     font-size: 1.3rem;
}

.fileInput{
     border-bottom: 4px solid lightgray;
     border-right: 4px solid lightgray;
     border-top: 1px solid black;
     border-left: 1px solid black;
     padding: 10px;
     margin: 15px;
     cursor: pointer;
}

.previewText{
     width: 100%;
     margin-top: 20px;
}
   
.boton-validar{
     padding: 12px;
     margin-left: 10px;
     background: white;
     border: 4px solid lightgray;
     border-radius: 15px;
     font-weight: 700;
     font-size: 10pt;
     cursor: pointer;  
}

.submitButton:hover{
     background: #efefef;
}

.centerText{
     text-align: center;
     width: 500px;
}


.previewComponent{
     display:flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
  
@media all and (max-width:1208px){
     html, body{
          font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
          font-size: 1.0rem;
          
     }

     .previewComponent{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
     }
}